:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(29, 27, 27);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    rgb(23, 182, 222),
    rgb(154, 218, 235)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
	all: unset;
	cursor: pointer;
}

/* Accessibility compliancy */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
