:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(29, 27, 27);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    rgb(23, 182, 222),
    rgb(154, 218, 235)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
	all: unset;
	cursor: pointer;
}

/* Accessibility compliancy */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cat-status-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background: rgb(154, 218, 235);
}

.fish-button:hover {
  filter: drop-shadow(0 0 0.2em rgb(5, 5, 73));
}

/* Make the image inside cat-button class to go smaller to look like it was pressed */
.fish-button:active img {
  transform: scale(0.92);
  filter: drop-shadow(0 0 0.2em rgb(5, 5, 73)); /* Non-compliant, but decorative. Scaling is compliant. */
}